<form action="/html" method="post">
  <label for="name">Name: </label>
  <input type="text" id="name" name="test[name]"><br>
  
  <label for="teacher">Teacher: </label>
  <input type="text" id="teacher" name="test[teacher]"><br>
  
  <label for="summary">Summary: </label><br>
  <textarea id="summary" name="test[summary]">
    Your summary goes here?
  </textarea><br>
  
  <input type="radio" id="five" name="test[questions]" value="5">
  <label for="five">Five</label><br>
  
  <input type="radio" id="ten" name="test[questions]" value="10">
  <label for="ten">Ten</label><br>
  
  <input type="submit" value="Submit">
</form>